{
  "extends": "@app-research",
  "overrides": [
    {
      "files": [
        "package.json"
      ],
      "parser": "jsonc-eslint-parser",
      "rules": {
        "jsonc/sort-keys": [
          "error",
          {
            "pathPattern": "^$",
            "order": [
              "name",
              "version",
              "description",
              "keywords",
              "license",
              "author",
              "funding",
              "homepage",
              "repository",
              "bugs",
              "exports",
              "main",
              "module",
              "unpkg",
              "type",
              "types",
              "typesVersions",
              "bin",
              "files",
              "scripts",
              "husky",
              "lint-staged",
              "dependencies",
              "peerDependencies",
              "peerDependenciesMeta",
              "devDependencies",
              "eslintConfig"
            ]
          }
        ]
      }
    }
  ]
}