node_modules
.DS_Store
dist
dist-ssr

# generated global components for volar
components.d.ts

# local env files
.env.local
.env.*.local

# log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# exclude lock files (for testing)
*-lock.json